{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h1 class="logo-font mb-4">Weapon Management</h1>
                <h5 class="font-weight-bold">Add a Weapon</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_weapon' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn custom-btn1 rounded-1" href="{% url 'weapons' %}">Cancel</a>
                        <button class="btn btn-black rounded-1 custom-btn2 ml-3" type="submit">Add Weapon</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}