{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row vh-100 justify-content-end">
        <div class="col-7 col-md-6 my-auto text-center">
            <h1 class="display-4">Find your weapon now!</h1>
            <p class="main-text">Have you ever been sick of farming for that perfect weapon? Yes. Well look no further here at Borderlands Buddy ypu can buy that weapon and redeem is in game to use.</p>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
