{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col-13 col-md-5 col-lg-4 my-auto text-center text-black main-text">
            <h1 class="display-4">Find your weapon now!</h1>
            <p>Have you ever been sick of farming for that perfect weapon? Yes. Well look no further here at Borderlands Buddy you can buy that weapon and redeem it in game to use.</p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'weapons' %}" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-2 custom-btn2">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
