<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-weapons-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Weapons
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="all-products-link">
                <a href="{% url 'weapons' %}?sort=price&direnction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'weapons' %}?sort=manufacture&direnction=asc" class="dropdown-item">By Manufacture</a>
                <a href="{% url 'weapons' %}" class="dropdown-item">All Weapons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ledgendary-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ledgendary
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="clothing-link">
                <a href="{% url 'weapons' %}?category=ledgendary_pistols" class="dropdown-item">Pistols</a>
                <a href="{% url 'weapons' %}?category=ledgendary_assault_rifles" class="dropdown-item">Assault Rifle</a>
                <a href="{% url 'weapons' %}?category=ledgendary_sniper_rifles" class="dropdown-item">Sniper Rifles</a>
                <a href="{% url 'weapons' %}?category=ledgendary_submachine_guns" class="dropdown-item">Submachine Guns</a>
                <a href="{% url 'weapons' %}?category=ledgendary_shotguns" class="dropdown-item">Shotguns</a>
                <a href="{% url 'weapons' %}?category=ledgendary_launchers" class="dropdown-item">Launchers</a>
                <a href="{% url 'weapons' %}?category=ledgendary_pistols,ledgendary_assault_rifles,ledgendary_sniper_rifles,ledgendary_submachine_guns,ledgendary_shotguns,ledgendary_launchers" class="dropdown-item">All Weapons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="epic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Epic
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="homeware-link">
                <a href="{% url 'weapons' %}?category=epic_pistols" class="dropdown-item">Pistols</a>
                <a href="{% url 'weapons' %}?category=epic_assault_rifles" class="dropdown-item">Assault Rifle</a>
                <a href="{% url 'weapons' %}?category=epic_sniper_rifles" class="dropdown-item">Sniper Rifles</a>
                <a href="{% url 'weapons' %}?category=epic_submachine_guns" class="dropdown-item">Submachine Guns</a>
                <a href="{% url 'weapons' %}?category=epic_shotguns" class="dropdown-item">Shotguns</a>
                <a href="{% url 'weapons' %}?category=epic_launchers" class="dropdown-item">Launchers</a>
                <a href="{% url 'weapons' %}?category=epic_pistols,epic_assault_rifles,epic_sniper_rifles,epic_submachine_guns,epic_shotguns,epic_launchers" class="dropdown-item">All Weapons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="rare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rare
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="specials-link">
                <a href="{% url 'weapons' %}?category=rare_pistols" class="dropdown-item">Pistols</a>
                <a href="{% url 'weapons' %}?category=rare_assault_rifles" class="dropdown-item">Assault Rifle</a>
                <a href="{% url 'weapons' %}?category=rare_sniper_rifles" class="dropdown-item">Sniper Rifles</a>
                <a href="{% url 'weapons' %}?category=rare_submachine_guns" class="dropdown-item">Submachine Guns</a>
                <a href="{% url 'weapons' %}?category=rare_shotguns" class="dropdown-item">Shotguns</a>
                <a href="{% url 'weapons' %}?category=rare_launchers" class="dropdown-item">Launchers</a>
                <a href="{% url 'weapons' %}?category=rare_pistols,rare_assault_rifles,rare_sniper_rifles,rare_submachine_guns,rare_shotguns,rare_launchers" class="dropdown-item">All Weapons</a>
            </div>
        </li>
    </ul>
</div>