<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-weapons-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Weapons
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Rarity</a>
                <a href="" class="dropdown-item ">By Manufacture</a>
                <a href="" class="dropdown-item ">By Weapon Type</a>
                <a href="" class="dropdown-item">All Weapons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ledgendary-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ledgendary
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Pistols</a>
                <a href="" class="dropdown-item">Assault Rifle</a>
                <a href="" class="dropdown-item">Sniper Rifles</a>
                <a href="" class="dropdown-item">SMG's</a>
                <a href="" class="dropdown-item">Shotguns</a>
                <a href="" class="dropdown-item">Launchers</a>
                <a href="" class="dropdown-item">All Weapons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="epic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Epic
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Pistols</a>
                <a href="" class="dropdown-item">Assult Rifle</a>
                <a href="" class="dropdown-item">Sniper Rifles</a>
                <a href="" class="dropdown-item">SMG's</a>
                <a href="" class="dropdown-item">Shotguns</a>
                <a href="" class="dropdown-item">Launchers</a>
                <a href="" class="dropdown-item">All Weapons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="rare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rare
            </a>
            <div class="dropdown-menu border-0 custom-dropdown" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Pistols</a>
                <a href="" class="dropdown-item">Assult Rifle</a>
                <a href="" class="dropdown-item">Sniper Rifles</a>
                <a href="" class="dropdown-item">SMG's</a>
                <a href="" class="dropdown-item">Shotguns</a>
                <a href="" class="dropdown-item">Launchers</a>
                <a href="" class="dropdown-item">All Weapons</a>
            </div>
        </li>
    </ul>
</div>